ion-toolbar{
    --background:#88BDBC !important;
}

ion-content{
    --background:#112D32 !important;
}

.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.message p {
    margin: 0;
}

.other-message{
    background: var(--ion-color-tertiary);
    color:#fff;
}

.my-message{
    background: var(--ion-color-secondary);
    color:#fff;
}

.time{
    color:#ebe9e9;
    float:right;
    font-size:small;
}

.msg-input{
    width:100%;
    border: 1px solid var(--ion-color-medium);
    border-radius:10px;
    background:#fff;
    resize:none;
    padding-left: 10px;
    padding-right:10px;
}

.msg-btn{
    --padding-start:0.5em;
    --padding-end:0.5em;
}

#chat-container {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
    --padding-top: 0.2em;
    --padding-bottom: 0.2em;
}