<ion-header>
  <ion-toolbar id="renter-edit-toolbar">
    <ion-buttons slot="start" (click)="goToMainPage()">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{ "renter-edit.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="RenterDetailsForm"
    (ngSubmit)="onSubmit(renter)"
    class="renter-edit"
  >
    <!-- Last Name -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label>
          <ion-icon name="person-outline"></ion-icon>
          {{ "renter-edit.lastName" | translate }}: 
        </ion-label>
        <ion-input
          formControlName="lastName"
          placeholder="{{'add-renter.lastName-placeholder' | translate }}"
          required
          maxlength="70"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- Last Name Warning text -->
    <div
      class="form-warning"
      *ngIf="
        RenterDetailsForm.controls.lastName.dirty &&
        RenterDetailsForm.controls.lastName.errors?.required
      "
    >
      <div class="text-danger">
        <div *ngIf="RenterDetailsForm.controls.lastName.errors?.required">
          * {{"renter-errors.obligatory"|translate }}
        </div>

        <div *ngIf="RenterDetailsForm.controls.lastName.errors?.pattern">
          * {{"renter-errors.lettersOnly"|translate }}
        </div>
      </div>
    </div>

    <!-- First Name -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label
          ><ion-icon name="person-outline"></ion-icon>
          {{ "renter-edit.firstName" | translate }}: 
        </ion-label>
        <ion-input
          formControlName="firstName"
          placeholder="{{'add-renter.firstName-placeholder' | translate }}"
          required
          maxlength="70"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- First Name Warning text -->
    <div
      class="form-warning"
      *ngIf="
        RenterDetailsForm.controls.firstName.dirty &&
          (RenterDetailsForm.controls.firstName.errors?.required ||
          RenterDetailsForm.controls.firstName.errors?.pattern)
      "
    >
      <div class="text-danger">
        <div *ngIf="RenterDetailsForm.controls.firstName.errors?.required">
          * {{"renter-errors.obligatory"|translate }}
        </div>

        <div *ngIf="RenterDetailsForm.controls.firstName.errors?.pattern">
          * {{"renter-errors.lettersOnly"|translate }}
        </div>
      </div>
    </div>

    <!-- Email -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label>
          <ion-icon name="mail-outline"></ion-icon>
          {{ "renter-edit.email" | translate }}:
        </ion-label>
        <ion-input
          formControlName="email"
          placeholder="{{'add-renter.email-placeholder' | translate }}"
          required
          maxlength="70"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- Email Warning text -->
    <div
      class="form-warning"
      *ngIf="
        RenterDetailsForm.controls.email.dirty &&
          (RenterDetailsForm.controls.email.errors?.required ||
           RenterDetailsForm.controls.email.errors?.email)
      "
    >
      <div class="text-danger">
        <div *ngIf="RenterDetailsForm.controls.email.errors?.required">
          * {{"renter-errors.obligatory"|translate }}
        </div>

        <div *ngIf="RenterDetailsForm.controls.email.errors?.email">
          * {{"renter-errors.mail"|translate }}
        </div>
      </div>
    </div>

    <!-- Phone number -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label
          ><ion-icon name="call-outline"></ion-icon>
          {{ "renter-edit.phone" | translate }}:
        </ion-label>
        <ion-input formControlName="telephone" required maxlength="20"></ion-input>
      </ion-item>
    </ion-row>

    <!-- Phone number Warning text -->
    <div
      class="form-warning"
      *ngIf="
        RenterDetailsForm.controls.telephone.dirty &&
         (RenterDetailsForm.controls.telephone.errors?.required ||
          RenterDetailsForm.controls.telephone.errors?.pattern)
      "
    >
      <div class="text-danger">
        <div *ngIf="RenterDetailsForm.controls.telephone.errors?.required">
          * {{"renter-errors.obligatory"|translate }}
        </div>

        <div *ngIf="RenterDetailsForm.controls.telephone.errors?.pattern">
          * {{"renter-errors.numbersOnly"|translate }}
        </div>
      </div>
    </div>

    <!-- CNP -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label>
          <ion-icon name="id-card-outline"></ion-icon>
          {{ "renter-edit.cnp" | translate }}:
        </ion-label>
        <ion-input
          formControlName="cnp"
          placeholder="{{'add-renter.cnp-placeholder' | translate }}"
          required
          maxlength="13"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- cnp Warning text -->
    <div
      class="form-warning"
      *ngIf="
        RenterDetailsForm.controls.cnp.dirty &&
         (RenterDetailsForm.controls.cnp.errors?.required || 
          RenterDetailsForm.controls.cnp.errors?.patternMismatch)
      "
    >
      <div class="text-danger">
        <div *ngIf="RenterDetailsForm.controls.cnp.errors?.required">
          * {{"renter-errors.obligatory"|translate }}
        </div>

        <div *ngIf="RenterDetailsForm.controls.cnp.errors?.patternMismatch">
          * {{"renter-errors.invalidCNP"|translate }}
        </div>
      </div>
    </div>

    <!-- Address -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label>
          <ion-icon name="home-outline"></ion-icon>
          {{ "renter-edit.address" | translate }}:
        </ion-label>
        <ion-input
          formControlName="address"
          placeholder="{{'add-renter.address-placeholder' | translate }}"
          required
          maxlength="70"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- Address Warning text -->
    <div
      class="form-warning"
      *ngIf="
        RenterDetailsForm.controls.address.dirty &&
        RenterDetailsForm.controls.address.errors?.required
      "
    >
      <div class="text-danger">
        <div *ngIf="RenterDetailsForm.controls.address.errors?.required">
          * {{"renter-errors.obligatory"|translate }}
        </div>
      </div>
    </div>

    <!-- Nr. of people -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label>
          <ion-icon name="people-outline"></ion-icon>
          {{ "renter-edit.number_of_individuals" | translate }}:
        </ion-label>
        <ion-input
          formControlName="number_of_individuals"
          type="number"
          required
          step="1"
          min="1"
          max="100"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- Nr. of people Warning text -->
    <div
      class="form-warning"
      *ngIf="
        RenterDetailsForm.controls.number_of_individuals.dirty &&
         (RenterDetailsForm.controls.number_of_individuals.errors?.required ||
          RenterDetailsForm.controls.number_of_individuals.errors?.pattern  ||
          RenterDetailsForm.controls.number_of_individuals.errors?.min      ||
          RenterDetailsForm.controls.number_of_individuals.errors?.max)
      "
    >
      <div class="text-danger">
        <div
          *ngIf="RenterDetailsForm.controls.number_of_individuals.errors?.required"
        >
          * {{"renter-errors.obligatory" | translate }}
        </div>

        <div
          *ngIf="RenterDetailsForm.controls.number_of_individuals.errors?.pattern"
        >
          * {{"renter-errors.numbersOnly" | translate }}
        </div>

        <div *ngIf="RenterDetailsForm.controls.number_of_individuals.errors?.min">
          * {{"renter-errors.moreThan0"|translate }}
        </div>

        <div *ngIf="RenterDetailsForm.controls.number_of_individuals.errors?.max">
          * {{"renter-errors.lessThan9"|translate }}
        </div>
      </div>
    </div>

    <!-- Secondary phone number -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label
          ><ion-icon name="call-outline"></ion-icon>
          {{ "renter-edit.phone2" | translate }}:
        </ion-label>
        <ion-input formControlName="secondPhoneNumber" maxlength="20"></ion-input>
      </ion-item>
    </ion-row>

    <!-- Secondary phone number Warning text -->
    <div
      class="form-warning"
      *ngIf="
        RenterDetailsForm.controls.secondPhoneNumber.dirty &&
        RenterDetailsForm.controls.secondPhoneNumber.errors?.pattern">
      <div class="text-danger">
        <div *ngIf="RenterDetailsForm.controls.secondPhoneNumber.errors?.pattern">
          * {{"renter-errors.numbersOnly"|translate }}
        </div>
      </div>
    </div>

    <!-- Bank account -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label>
          <ion-icon name="keypad-outline"></ion-icon>
          {{ "renter-edit.bank" | translate }}:
        </ion-label>
        <ion-input
          formControlName="bankAccount"
          placeholder="{{'renter-edit.bank-placeholder' | translate }}"
          maxlength="70"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- First auxiliary payment method -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label>
          <ion-icon name="card-outline"></ion-icon>
          {{ "renter-edit.pay-method1" | translate }}:
        </ion-label>
        <ion-input
          formControlName="firstAuxiliaryPaymentMethod"
          placeholder="{{'renter-edit.pay-method1-placeholder' | translate }}"
          maxlength="70"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- Second auxiliary payment method -->
    <ion-row>
      <ion-item lines="none" class="form-field">
        <ion-label>
          <ion-icon name="card-outline"></ion-icon>
          {{ "renter-edit.pay-method2" | translate }}:
        </ion-label>
        <ion-input
          formControlName="secondAuxiliaryPaymentMethod"
          placeholder="{{'renter-edit.pay-method2-placeholder' | translate }}"
          maxlength="70"
        ></ion-input>
      </ion-item>
    </ion-row>

    <!-- Cancel and submit buttons -->
    <ion-row id="submit-btn-row">
      <ion-item lines="none">
        <ion-button
          size="medium"
          slot="start"
          fill="outline"
          (click)="goToMainPage()"
          >{{ "renter-edit.cancel" | translate }}</ion-button
        >
      </ion-item>
      <ion-item lines="none">
        <ion-button size="medium" slot="end" fill="outline" type="submit"
          >{{ "renter-edit.save" | translate }}</ion-button
        >
      </ion-item>
    </ion-row>
  </form>
</ion-content>
