ion-content, ion-item{
    --background:#112D32;
}
ion-label, ion-icon{
    --color:white !important;
    color:white !important;
}
.culoare{
    --background:#88BDBC ;
}
.h1{
    color: white ;
}

.border{
    --border-color: white ;
    --background: #112D32;
    color: white;
}

#back_btn{
    padding-left: 0%;

}




