ion-content, ion-item{
    --background:#112D32;
}
ion-label, ion-icon{
    --color:white !important;
    color:white !important;
}
.culoare{
    --background:#88BDBC ;
    
}
.h1{
    color: white ;
}
.whitening_borders{
    --border-color: white ;
    --background: #112D32;
    color: white;

}
#edit_btn{
    padding-left: 5%;
}
#edit_btn1{
    padding-left: 35%;
}