.big-container {
    background-image: -webkit-linear-gradient(
      top left,
      #112d32,
      #6e6658,
      #88bdbc
    );
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    background-size: cover;
  }

  ::-webkit-scrollbar {
    overflow-y: scroll;
    width: 10px;
    background: white;
    box-shadow: inset 0 0 4px white;
  }

  ::-webkit-scrollbar-thumb {
    background: #818589;
    border-radius: 15px;
  }

  .paragraph-text {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.35vw;
    text-align: left;
    line-height: 1.8;
  }

  #OwnerGuide-TitleID{
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center !important;
    color: white;
  }

  .underline-text-class{
    text-decoration: underline;
  }

  .header-class{
    font-size: 1.6vw !important;
  }

  .padding-class{
    padding-bottom: 2% !important;
  }

  .padding-class-min{
    padding-bottom: 1.3% !important;
  }

  .padding-top-class{
    padding-top: 2% !important;
  }

  .mainDiv{
    width: 100%;
  }

  .leftDiv{
    width: 50%;
    float: left;
  }

  .rightDiv{
    padding: 0;
    margin-left: 53%;
    margin-right: 3%;
  }

  .shadow-border-effect{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  }

  .icon-size{
    width:5%;
    height:auto;
  }

  .icon-size-middle{
    width:7%;
    height:auto;
  }

  .left-page-margin{
    margin-left: 2%;
  }

  .icon-size-large{
    width: 10%;
    height: auto;
  }

  .image-resize{
    width: 95%;
    height: auto;
    object-fit: cover;
  }

  .middle-image-resize{
    width: 60%;
    height: auto;
    object-fit: cover;
  }

  hr.title-underline {
    background: linear-gradient(to right, #f0f6f7, #ffe0a9, #7efcfa, transparent);
    height: 5px;
    border: 2px;
  }
  
  .small-image-resize{
    width: 70%;
    height: auto;
    object-fit: cover;
  }

  .list-no-dot{
    list-style: none;
  }
  .small-rightDiv{
    float:right;
    width: 50%;
    height: auto;
  }

  .figcaption-class{
    color: white;
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1.2vw;
  }

  .small-figcaption-class{
    color: white;
    margin-top: 1em;
    font-size: 1vw;
    
  }

  ul{
    list-style: none;
  }

  ul li::before{
    content: "\2022";
    color: white;
    font-weight: bold;
    width: 1em;
    margin-right: 0.7em;
  }

  #language-icons {
    margin-top: 8px;
    position: relative !important;
  }
  
  .language-wrapper {
    list-style-type: none;
  }
  
  .button-language {
    background-color: transparent;
    border: none;
    color: white;
    padding: 9px;
  }
  
  .button-language > img {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
  }

  .back-button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 9px;
  }

 .back-button > img
 {
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
 }

 /* # # # # Scrolling animation # # # #*/

.fadeInRight {
  opacity: 0;
  transform: translate(+100%, 0);
  transition: transform 1s 0.3s ease-in-out,
              opacity .7s 0.3s ease-in-out;
  will-change: transform, opacity;
}

.fadeInRight.is-visible {
  opacity: 1;
  transform: translate(0,0)
}

.fadeInLeft {
  opacity: 0;
  transform: translate(-100%, 0);
  transition: transform 1s 0.3s ease-in-out,
              opacity .7s 0.3s ease-in-out;
  will-change: transform, opacity;
}

.fadeInLeft.is-visible {
  opacity: 1;
  transform: translate(0,0)
}