<div class="big-container">
  <button (click)="goBack()" type="button" class="back-button">
    <img src="../../../assets/icons/other-icons/backButton.png">
  </button>
  <button type="button" class="button-language" (click)="changeLanguage(importedLanguages.ro)">
    <img src="../../../assets/icons/language-icons/romania.ico" />
  </button>
  <button type="button" class="button-language" (click)="changeLanguage(importedLanguages.eng)">
    <img src="../../../assets/icons/language-icons/united-kingdom.ico" />
  </button>
    <div class="left-page-margin">
      <div class="paragraph-text" id="OwnerGuide-TitleID" class="underline-text-class padding-class">{{"user-guide.titleGuide"|translate}}</div>
      <div class="paragraph-text header-class padding-class-min" >{{"user-guide.title_1"|translate}}</div>
      <div class="paragraph-text padding-class">{{"user-guide.text_1"|translate}}</div>
      <div class="mainDiv padding-class">
        <div class="leftDiv">
          <div class="paragraph-text underline-text-class">{{"user-guide.text_2"|translate}}</div>
          <div class="paragraph-text">{{"user-guide.text_3"|translate}}</div>
          <div class="paragraph-text">{{"user-guide.text_4"|translate}}</div>
          <div class="paragraph-text">{{"user-guide.text_5"|translate}}</div>
        </div>
        <div class="rightDiv">
          <div class="paragraph-text">{{"user-guide.text_6"|translate}}</div>
          <div class="paragraph-text">{{"user-guide.text_7"|translate}}</div> 
          <div class="paragraph-text underline-text-class">{{"user-guide.text_6"|translate}}</div>
          <div class="paragraph-text">{{"user-guide.text_7"|translate}}</div>
          <div class="paragraph-text">{{"user-guide.text_8"|translate}}</div>
          <div class="paragraph-text">{{"user-guide.text_9"|translate}}</div>
        </div>
      </div>
      <div class="paragraph-text header-class padding-class">{{"user-guide.title_2"|translate}}</div>
      <br>
      <div class="mainDiv padding-class">
        <div class="leftDiv show-on-scroll fadeInLeft">
          <div class="paragraph-text header-class padding-class">{{"user-guide_main-page.title_1"|translate}}</div>
          <br>
        <div class="leftDiv">
          <div class="paragraph-text header-class padding-class">{{"user-guide_main-page.title_1"|translate}}
            <hr class="title-underline"/>
          </div>
          <br>
          <figure>
            <img src="../../../assets/img/Guide_Rent_Insider/MainPageRenter.PNG" class="image-resize"/>
            <figcaption class="figcaption-class"><i>Image1 -"Owner Main Page"</i></figcaption>
          </figure>
        </div>
        <div class="rightDiv show-on-scroll fadeInRight shadow-border-effect">
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_main-page.text_1"|translate}}</div>
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_main-page.text_2"|translate}}</div>
          <ul>
            <div class="paragraph-text"><li>{{"user-guide_main-page.text_3"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_main-page.text_4"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_main-page.text_5"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_main-page.text_6"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_main-page.text_7"|translate}}</li></div>
          </ul>
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_main-page.text_8"|translate}}
            <img src="../../../assets/img/Guide_Rent_Insider/GuideButton.PNG" alt="Guide_Button" class="icon-size">{{"user-guide_main-page.text_9"|translate}}
            <img src="../../../assets/img/Guide_Rent_Insider/LanguageSelectionButtons.PNG" alt="Language_Selection_Buttons" class="icon-size-large">{{"user-guide_main-page.text_10"|translate}}
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="mainDiv padding-class">
        <div class="leftDiv show-on-scroll fadeInLeft">
      <div class="mainDiv padding-class padding-top-class">
        <div class="leftDiv">
          <br>
          <div class="paragraph-text header-class padding-class">{{"user-guide_operations_on_property.title_1"|translate}}
            <hr class="title-underline"/>
          </div>
          <br>
          <figure>
            <img src="../../../assets/img/Guide_Rent_Insider/SelectPropertyOwner.PNG" class="image-resize"/>
            <figcaption class="figcaption-class"><i>Image2 -"Property Details"</i></figcaption>
          </figure>
        </div>
        <div class="rightDiv show-on-scroll fadeInRight shadow-border-effect">
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_operations_on_property.text_1"|translate}}</div>
          <ol type="1">
            <div class="paragraph-text"><li>&nbsp;{{"user-guide_operations_on_property.text_2"|translate}}</li>
                <ul>
                  <div class="paragraph-text"><li>{{"user-guide_operations_on_property.text_3"|translate}}</li></div>
                  <div class="paragraph-text"><li>{{"user-guide_operations_on_property.text_4"|translate}}</li></div>
                  <div class="paragraph-text"><li>{{"user-guide_operations_on_property.text_5"|translate}}</li></div>
                  <div class="paragraph-text"><li>{{"user-guide_operations_on_property.text_6"|translate}}</li></div>
                  <div class="paragraph-text"><li>{{"user-guide_operations_on_property.text_7"|translate}}</li></div>
                </ul>
            </div>
          <div class="paragraph-text"><li>&nbsp;{{"user-guide_operations_on_property.text_8"|translate}}</li>
                <ul>
                  <div class="paragraph-text padding-class padding-top-class">
                    <li><img src="../../../assets/img/Guide_Rent_Insider/RenterDetailsButton.png" alt="Renter_Details_Button" class="icon-size-large">&nbsp;&nbsp;{{"user-guide_operations_on_property.text_9"|translate}}</li>
                  </div>
                  <div class="paragraph-text padding-class">
                    <li><img src="../../../assets/img/Guide_Rent_Insider/DeleteRenterButton.png" alt="Delete_Renter_Button" class="icon-size-large">&nbsp;&nbsp;{{"user-guide_operations_on_property.text_10"|translate}}</li>
                  </div>
                  <div class="paragraph-text">
                    <li><img src="../../../assets/img/Guide_Rent_Insider/OpenChatButton.png" alt="Open_Chat_Button" class="icon-size-large">&nbsp;&nbsp;{{"user-guide_operations_on_property.text_11"|translate}}</li>
                  </div>
                </ul>
            </div>
          </ol>
        </div>
      </div>
      <br>
      <div class="mainDiv padding-class">
        <div class="leftDiv show-on-scroll fadeInLeft shadow-border-effect">
          <br>
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide.text_13_1"|translate}}<img src="../../../assets/img/Guide_Rent_Insider/DollarImage.png" alt="Dollar Image" class="icon-size">{{"user-guide.text_13_2"|translate}}</div>
        <div class="leftDiv shadow-border-effect">
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_operations_on_property_second.text_1"|translate}}</div>
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_operations_on_property_second.text_2"|translate}}</div>
          <ul>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_3"|translate}}
              <img src="../../../assets/img/Guide_Rent_Insider/PaymentDoneMark.png" alt="Payment Done Mark" class="icon-size-middle">{{"user-guide_operations_on_property_second.text_4"|translate}}
              <img src="../../../assets/img/Guide_Rent_Insider/PaymentNotDoneMark.png" alt="Payment Not Done Mark" class="icon-size-middle"></li>
            </div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_5"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_6"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_7"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_8"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_9"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_10"|translate}}
              <img src="../../../assets/img/Guide_Rent_Insider/DownloadButton.png" alt="Download Button" class="icon-size"></li>
            </div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_11"|translate}}
              <img src="../../../assets/img/Guide_Rent_Insider/DollarImage.png" alt="Dollar Button" class="icon-size"></li>
            </div>
          </ul>
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_operations_on_property_second.text_12"|translate}}</div>
          <ul>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_13"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_14"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_15"|translate}}</li></div>
            <div class="paragraph-text"><li>{{"user-guide_operations_on_property_second.text_16"|translate}}</li></div>
          </ul>
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_operations_on_property_second.text_17"|translate}}</div>
        </div>
        <div class="rightDiv show-on-scroll fadeInRight">
          <br>
          <figure>
            <img src="../../../assets/img/Guide_Rent_Insider/PaymentsStatusOwner.PNG" class="image-resize"/>
            <figcaption class="figcaption-class"><i>Image3 -"Payments Status Table"</i></figcaption>
          </figure>
          <br>
          <br>
          <figure>
            <img src="../../../assets/img/Guide_Rent_Insider/FilesStatusOwner.PNG" class="image-resize"/>
            <figcaption class="figcaption-class"><i>Image4 -"Uploaded Files Table"</i></figcaption>
          </figure>
        </div>
      </div>
      <br>
      <br>
      <div class="mainDiv">
        <div class="leftDiv show-on-scroll fadeInLeft">
          <div class="padding-class">&nbsp;</div>
        <div class="leftDiv">
          <br>
          <br>
          <figure>
            <img src="../../../assets/img/Guide_Rent_Insider/ChatMenu.PNG" class="image-resize"/>
            <figcaption class="figcaption-class"><i>Image5 -"ChatMenu"</i></figcaption>
          </figure> 
          <br>
          <br>
          <div class="leftDiv show-on-scroll fadeInLeft">
            <figure>
              <img src="../../../assets/img/Guide_Rent_Insider/EditSubjectButton.PNG" class="small-image-resize"/>
              <figcaption class="small-figcaption-class"><i>(1) -"Edit Subject Button"</i></figcaption>
            </figure> 
          </div>
          <div class="small-rightDiv show-on-scroll fadeInLeft">
            <figure>
              <img src="../../../assets/img/Guide_Rent_Insider/DeleteSubjectButton.PNG" class="small-image-resize"/>
              <figcaption class="small-figcaption-class"><i>(2) -"Delete Subject Button"</i></figcaption>
            </figure> 
          </div>
          <br>
      </div>
      <div class="rightDiv show-on-scroll fadeInRight shadow-border-effect padding-class">
        <br>
        <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide.text_14"|translate}}</div>
      </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="paragraph-text header-class padding-class" >{{"user-guide.title_3"|translate}}</div>
      <div class="mainDiv padding-class">
        <div class="leftDiv show-on-scroll fadeInLeft shadow-border-effect">
          <div class="paragraph-text">&nbsp;&nbsp;&nbsp;&nbsp;{{"user-guide_sweet-alerts.text_1"|translate}}</div>
          <div class="paragraph-text">{{"user-guide_sweet-alerts.text_2"|translate}}</div>
          <div class="paragraph-text">{{"user-guide_sweet-alerts.text_3"|translate}}</div>
          <div class="paragraph-text">{{"user-guide_sweet-alerts.text_4"|translate}}</div>
          <div class="paragraph-text">{{"user-guide_sweet-alerts.text_5"|translate}}</div>
        </div>
        <div class="rightDiv show-on-scroll fadeInRight">
          <br>
          <figure>
            <img src="../../../assets/img/Guide_Rent_Insider/SweetAlert.PNG" class="middle-image-resize" alt="Example_of_alert"/>
            <figcaption class="figcaption-class"><i>Image6 -"Example of alert"</i></figcaption>
          </figure>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
</div>
