<div id="alert-parent item-center">

  <!-- [+] Header -->
  <div id="alert-header" class="outline-white border-white">
    <h1 id="alert-title">{{ "renter-success.title" | translate }}</h1>
  </div>
  <!-- [-] -->

  <!-- [+] Body -->
  <div id="alert-body">
    <h3 class="alert-message">{{ "renter-success.message" | translate }}</h3>
  </div>
  <!-- [-] -->

  <!-- [+] Footer -->
  <div id="alert-footer" class="border-white">
    <button
          id="alert-button"
          type="button"
          class="item-center"
          mat-dialog-close
        >
      {{ "renter-success.close" | translate }}
    </button>
  </div>
  <!-- [-] -->
</div>