/* input hover + focus */
#formContent5 input[type="date"].form-input:hover,
#formContent5 select.form-input:hover {
  cursor: pointer;
}

#formContent5 input.form-input:focus,
#formContent5 select.form-input:focus {
  outline: none;
  box-shadow: none;
}

/* invalid input styles */
#formContent5 input.form-input.ng-invalid,
#formContent5 select.form-input.ng-invalid,
#formContent5 input.form-input.ng-invalid:focus,
#formContent5 select.form-input.ng-invalid:focus {
  border: 2px solid red !important;
  box-shadow: none;
}